
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("2.jpg");   
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    color: rgb(239, 109, 17);                     
}

/* Navigation Bar */
.main ul {
    list-style: none;
    display: flex;
    gap: 300px;
    background: rgba(0, 0, 0, 0.3);   
    padding: 5px;
}

.main ul li a {
    text-decoration: none;
    color: white;
    font-weight: 20;
    font-size: 25px;
    transition: 0.5s ease-in-out;
   
}

.main ul li a:hover {
    color: rgb(229, 106, 12);
}


/* Paragraphs */
p {
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
}

/* Table Styling */
table {
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid white;
    text-align: center;
}

/* Skills list */
ul {
    width: 90%;
    margin: 10px auto 40px auto;
    padding: 15px;
    border-radius: 5px;
}

ul li {
    margin: 8px 0;
    font-size: 18px;
}
.content {
    width: 1200px0;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-family: 'Times new roman ';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content span{
    color:  rgb(229, 106, 12);
    font-size: 60px;
}
.qualification{
    color: aliceblue;
}